label {
	font-size: 20px;
}

.p-float-label {
	margin: 25px;
}

.flex-row {
    display: flex;
	justify-content: top;
	align-items: top;
	flex-direction: row;
}

.flex-col {
    display: flex;
	justify-content: top;
	align-items: top;
	flex-direction: column;
}

#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}